*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

.hd{
	background-color: #316DC3;
	height: 50px;
	display: flex;
	justify-content: space-around;
}
.list{

	list-style: none;
	display: flex;


}

.list li{

	padding-left:  20px;
}

.text{
	color: white;
	margin-top: 15px;
	
}

.btn{
	margin-top: 13px;
}
.btn button{

	width: 80px;
	height: 25px;
	border: 1px #006618;
}
.btn button a{
	text-decoration: none;
	color: #427900;
	font-size: 13px;

}

.hd2{
	background-color: whitesmoke;
	display: flex;
}
.hd2 nav{
	padding: 10px;
	margin-left:  100px;
}

.hd2 div img{
	margin-left: 50px;
	height: 70px;
	width: 250px;
}




nav ul li{
	background-color: whitesmoke;
	position: relative;
	list-style: none;
	display: inline-block;
}

nav ul li a{
 
	display: inline-block;
	padding: 8px 16px;
	color: black;
	font-weight: 600;
	text-decoration: none;
	line-height: 1.42857143;
	font-size: 13px;
	border-radius: 30px ;
	outline: 0;
}

nav ul li a:hover{
	background: #316DC3;
}

nav ul ul{
	position: absolute;
	top: 30px;
	display: none;
}
nav ul li:hover > ul{
	display: block;
    
    top: 31px;

}

nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
}

nav ul ul ul li{
	position: relative;
	top: -20px;
	left: 150px;
	font-size: 8px;
}

.active{
	background-color: #316DC3;
}

.hd2 div .navbar ul > li a {

	padding: 7px;


}